<div class="card-deck mb-3 text-center">

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Digitalisation</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><image style="max-height: 10vh;" class="img img-small mh-3" src="/assets/images/Digitalisation.png"></image></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Branding</li>
          <li>Video Branding</li>
          <li>Web Site Designing</li>
          <li>Enterprise Email Solutions</li>
          <li>Digital Book Solutions</li>
          <li>Digital Catalogue</li>
        </ul>
        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/contact">Contact us</a>
      </div>
    </div>

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Representation</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><image style="max-height: 10vh;" class="img img-fluid mh-3" src="/assets/images/Representation.png"></image></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>World Wide Fairs</li>
          <li>Tracking Grants & Funds</li>
          <li>Following Trends</li>
          <li>Collects & Distributes Royalities</li>
          <li>International Networking</li>
          <li>Copyright Marketting</li>
        </ul>
        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/contact">Contact us</a>
      </div>
    </div>

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Translation</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><image style="max-height: 10vh;" class="img img-fluid mh-3" src="/assets/images/Translation.png"></image></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Native Translators</li>
          <li>Literary / Book Translations</li>
          <li>Art & Culture Translations</li>
          <li>Legal & Financial Translation</li>
          <li>Subtitling / Voice-over</li>
          <li>Over 20 language combinations</li>
        </ul>
        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/contact">Contact us</a>
      </div>
    </div>

    <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Consultation</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><image style="max-height: 10vh;" class="img img-fluid mh-3" src="/assets/images/Consultation.png"></image></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Legal</li>
            <li>Digitalization</li>
            <li>Product Development</li>
            <li>Marketing</li>
            <li>Benchmarking</li>
            <li>Branding</li>
          </ul>
          <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/contact">Contact us</a>
        </div>
      </div>

  </div>