<style>
    .story-container {
        display: flex;
        overflow-x: auto;
        padding: 20px 0;
        gap: 15px;
        scrollbar-width: none; /* Firefox için */
    }
    
    .story-container::-webkit-scrollbar {
        display: none; /* Chrome, Safari için */
    }
    
    .story-item {
        flex: 0 0 auto;
        width: 100px;
        text-align: center;
    }
    
    .story-circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 3px;
        background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
        margin-bottom: 8px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    
    .story-circle:hover {
        transform: scale(1.05);
    }
    
    .story-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 3px solid white;
        object-fit: cover;
    }
    
    .story-title {
        font-size: 12px;
        color: #262626;
        margin-top: 5px;
        text-align: center;
    }
</style>

<div class="story-section">
    <div class="story-container">
        <div class="story-item">
            <div class="story-circle">
                <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE4MDQ4NjEzMTU5NDgwNjM1?story_media_id=3242257887783357169&igsh=d3QwZHFmdWwyMGk4" target="_blank">
                    <img src="{{site.baseurl}}/assets/images/story/sharjah.jpg" class="story-image" alt="SHARJAH">
                </a>
            </div>
            <div class="story-title">SHARJAH</div>
        </div>
        
        <div class="story-item">
            <div class="story-circle">
                <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE4MzQzODMyMzk1MTE0Nzgw?story_media_id=3397356183106402038&igsh=MW1mdzVuY2Uydmk4" target="_blank">
                    <img src="{{site.baseurl}}/assets/images/story/seoul.jpg" class="story-image" alt="SEOUL">
                </a>
            </div>
            <div class="story-title">SEOUL</div>
        </div>
        
        <div class="story-item">
            <div class="story-circle">
                <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTg3OTMwNTkzODQ3Mzkx?story_media_id=3088575591070390160&igsh=MTU3eHJxaXQwOTNqcg==y" target="_blank">
                    <img src="{{site.baseurl}}/assets/images/story/astana.jpg" class="story-image" alt="ASTANA">
                </a>
            </div>
            <div class="story-title">ASTANA</div>
        </div>
        
        <div class="story-item">
            <div class="story-circle">
                <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE4MDMwODA0OTI4NzkwMDYz?story_media_id=3341547055755291389&igsh=MTdtbDZsOGs4ZGk0bw==" target="_blank">
                    <img src="{{site.baseurl}}/assets/images/story/bologna.jpg" class="story-image" alt="BOLOGNA">
                </a>
            </div>
            <div class="story-title">BOLOGNA</div>
        </div>
        
        <div class="story-item">
            <div class="story-circle">
                <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE4MjE0MTY3MDUyMjQxMTU4?story_media_id=3119005860529096166&igsh=MWs4ODh1aDB2cDk3" target="_blank">
                    <img src="{{site.baseurl}}/assets/images/story/istanbul.jpg" class="story-image" alt="ISTANBUL">
                </a>
            </div>
            <div class="story-title">ISTANBUL</div>
        </div>
        
        <div class="story-item">
            <div class="story-circle">
                <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTc1MTg1NTUzNjE4MzM5?story_media_id=3233528620912308389&igsh=MWw0ZXE5dGgyY2xlNA==" target="_blank">
                    <img src="{{site.baseurl}}/assets/images/story/baku.jpg" class="story-image" alt="BAKU">
                </a>
            </div>
            <div class="story-title">BAKU</div>
        </div>
        
        
        <div class="story-item">
            <div class="story-circle">
                <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE4MDEyNTgyNDQyOTQyNDI4?story_media_id=3225188750037082115&igsh=ZWhjbWh6c2J5YjRj" target="_blank">
                    <img src="{{site.baseurl}}/assets/images/story/belgrad.jpg" class="story-image" alt="BELGRAD">
                </a>
            </div>
            <div class="story-title">BELGRAD</div>
        </div>
        
        <div class="story-item">
            <div class="story-circle">
                <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3ODU1Mjg3NTA4OTUyNDk0?story_media_id=3083626225394241978&igsh=MW5kem4wOWJnanU1Zg==" target="_blank">
                    <img src="{{site.baseurl}}/assets/images/story/london.jpg" class="story-image" alt="LONDON">
                </a>
            </div>
            <div class="story-title">LONDON</div>
        </div>
    </div>
</div>